.button {
    display: inline-block;
    background-image: linear-gradient(145deg,$secondary-color, $primary-color);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
    
    color: #FFFF;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: none;
    border: 0;
    
    min-width: 180px;
   text-align: center;
    padding: 15px 20px;
    transition: box-shadow 300ms;
    transition: filter 300ms;
}
.button:hover {
    filter: brightness(1.1);
    align-items: center;
}
.order_button{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-like{
    height: 30px;
    width: 30px;
    position: relative;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index:3;

    .button-like-liked{
        transition: opacity 300ms;
        opacity:0;
    }

&:hover{
    .button-like-liked{
        opacity:1;
        background: linear-gradient(to bottom,$secondary-color, $primary-color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        &.fade{
           animation-name: heart; 
           animation-duration: 500ms;
        }
    
    }
}

    .button-like-icon{
        position:absolute; 
        height: 30px;
        width: 30px;
        font-size:25px;
        top:0;
        left:0;
        display:flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
}
@keyframes heart{
    0%{
        opacity:0;
        font-size: 16px;
    }
    70%{
        opacity: 0.8;
        font-size: 30px;

    }
    100%{
        opacity:0; 
    }
}