.card {
    
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0 ,0.16);
    background-color: #fff;
    color: #000;
}
.card-content{
    padding: 10px;
    white-space: nowrap;
}
.card-image {
    height: 150px;
    object-fit: cover;
    width: 100%;
    
}
.card-title{
margin: 0;
}
.card-text{
margin:0;
}
.card-link::after{
    
    display: block;
    position:absolute;
   
}

.restaurant_section {
    /*width:100%;*/
    display:flex;
    padding: 20px;
    flex-direction: column;
    
}
.card-display{
    flex-direction: column;
    gap:0;
}

.card-display{
   
    @include breakpoint(medium){
        display:flex;
        width:auto;
        
        gap:50px;
        flex-direction: row;
    }
    @include breakpoint(large){
        display:flex;
        width:auto;
       
        gap:50px;
        flex-direction: row;
    }
}


.restaurant_section{
    @include breakpoint(large){
        display:flex;
        width:auto;
        
        flex-wrap: wrap;
        
    }
    @include breakpoint(medium){
        display:flex;
        flex-wrap: wrap;
        gap:20px;
    }
    
}