.card {
    
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0 ,0.16);
    background-color: #fff;
    color: #000;
}
.card-content{
    padding: 10px;
}
.card-image {
    height: 150px;
    object-fit: cover;
    width: 100%;
    
}
.card-title{
margin: 0;
}
.card-text{
margin:0;
}

.restaurant_section {
    /*width:100%;*/
    padding: 20px;
    flex-shrink: 0;
}



$breakpoints:(
'small':768px,
'medium':992px,
'large':1200px
)!default;

@mixin breakpoint($user-value){
    $my-map: map-get($breakpoints, $user-value );
    @if my-map{
        @media (min-width: map-get($breakpoints, $user-value))
        {
            @content;
        }
    }
};
.restaurant_section{
    @include breakpoint(large){
        display:flex;
        width:auto;
        background-color: red;
        flex-wrap: wrap;
    }
    @include breakpoint(medium){
        display:flex;
        flex-wrap: wrap;
        gap:20px;
    }
}