.explore_restaurent {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    margin-left: -25px;
    margin-right: -25px;

    
}
.explore_rest_discover{
    width: 273px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 25px;
}