
.pre-loader{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 10;
  
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-animation: pre-loader;
  animation: pre-loader 2s;
  animation-duration: 1s;
  
}
@keyframes pre-loader {
  0%{
    opacity: 1;
  }
  99%{
    opacity:0;
  }
  100%{
    height:0;
   
  }
}

.loader {
    border: 3px solid #fff;
    border-radius: 50%;
    border-top: 3px solid #000;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    animation-duration: 2s;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 
  
  