body{
    font-family: 'Roboto', sans-serif;
    font-weight: 30px;
}
.title{
    font-family: 'Shrikhand', cursive;
}
.t-bold{
    font-weight: 700;
}
.f-title{
    font-weight: 300;
    
    color: #fff;
}
.f-list{
    font-weight: 80px;
    color: $footer-text-color;
}
h2{
    font-size: 25px;
   
}