.shadow{
    position:relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    
}
section, nav{
    padding:0px;
}
.topnav {
    display: flex;
    width: 100%;
    justify-content: center;
    height:50px;
}
.topnav-location{
    font-weight: 500;
 gap:90px;
}
.location-icon{
    padding:20px;
}


.back-to-main-icon{
    display: inline;
    padding:20px;
    justify-content: space-around;
    align-items: center;
}
.navigation_bar{

    position: relative;
    
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
    align-items: center;
}
.nav-button{
    position: absolute;
    left: 30px;
}
.nav-heading{
    /*margin: 30px;*/}